.navbar{
    background-color: #1A0B2E;
}
.navbar-nav .nav-link {
    color: rgb(173, 173, 173); /* Change this to the color you want */
    transition: 0.2s all  ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255); /* Change this to the color you want */
    scale: 1.1;
}
.navbar-toggler-icon {
    color: white; /* Change this to the color you want */
}

.navbar-toggler:focus {
    outline: none;
}   

.active{
    color: white !important;
}

.navbar img{
    margin-left: 100px;
}

@media (max-width:580px){
    .navbar img{
        margin-left: 10px;
    }
    .navbar-nav{
        margin-left: 15px;
    }
}